.App input,
.App {
  margin: 20px;
  padding: 10px 20px;
  border: 2 px solid black;
  font-family: Arial;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #3f5c66;
}
.textAndImg {
  /* flex-wrap: wrap; */
  display: flex;
}

h1 {
  font-size: 26px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
